.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background::before{
  content: "";
  width: 101%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg,rgba(255,255,255,0) 40%, #222 98%);
  position: absolute;
}

.text-container {
  position: absolute;
  top: 0;
  right: -15%;
  width: 50%;
}

@media (max-aspect-ratio: 1/1) {
	.text-container {
    width: 95%;
    bottom: 0;
    left: 0;
  }

  .background::before {
    background: linear-gradient(-90deg,rgba(255,255,255,0) 40%, #222 98%), linear-gradient(90deg,rgba(255,255,255,0) 40%, #222 98%);
  }
}

.text-container img {
  width: 70%;
  height: auto;
}

h1 {
  color:#fff;
	word-break: keep-all;
  overflow-wrap: break-word;
}

h2 {
  color:#fff;
}

p {
  color:#fff;
}

.text-larger {
  font-size:20px;
  position: relative;
  top:-30px;
  width:70%
}

div#allpage{width:100%;}

#top_link {
  width:0px;
  height: 0px;
  visibility: hidden;
}

#goto_top {
  background: rgba(235,235,235,0.7);
  width: 3em;
  height: 3em;
  border-radius: 20%;
  position: fixed;
  display:block;
  right: 10px;
  bottom: 10px;
  text-align: center;
}

#goto_top img {
  margin: auto;
  width: 80%;
  height: 80%;

  border-radius: 10%;
  opacity: 0.55;
}

#goto_top:hover img {
  opacity: 1;
}


#last_container {
  position: absolute;
  top: 420vh;
  width: 95%;
  height: 90vh;
  /*background: white;*/
  display: flex;
}


.goto_home {
  font-size:3em;
  display: block;
  height:3em;
  margin:auto;
  position: relative;
}

.goto_home > a {
  color: rgb(220,220,220);
  /*text-decoration: none;*/

  
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.share-btn-list > div {
  display:inline-flex;
}

.sns > a {
  display:inline-block;
  margin: auto;
}

.leaf_accent {
 position:absolute;
 width: 30vmin; 
 top: 50%;
 right: 25vw;
 margin: 0;
}

@media (max-aspect-ratio: 1/1) {
  .leaf_accent {
    display: none;
  }
}

* {
  scrollbar-color: rgba(200,255,255,0.5)/*rgba(240, 249, 216, 1)*/ rgba(33, 33, 33,0);
  scrollbar-width: thin;
}