.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background::before{
  content: "";
  width: 101%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg,rgba(255,255,255,0) 40%, #222 98%);
  position: absolute;
}

.text-container {
  position: absolute;
  top: 0;
  right: -15%;
  width: 50%;
}

@media (max-aspect-ratio: 1/1) {
	.text-container {
    width: 95%;
    bottom: 0;
    left: 0;
  }

  .background::before {
    background: linear-gradient(-90deg,rgba(255,255,255,0) 40%, #222 98%), linear-gradient(90deg,rgba(255,255,255,0) 40%, #222 98%);
  }
}

.text-container img {
  width: 70%;
  height: auto;
}

h1 {
  color:#fff;
	word-break: keep-all;
  overflow-wrap: break-word;
}

h2 {
  color:#fff;
}

p {
  color:#fff;
}

.text-larger {
  font-size:20px;
  position: relative;
  top:-30px;
  width:70%
}

div#allpage{width:100%;}