body {
  margin: 0;
}

.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 52.7043716219%, 100% 52.7043716219%, 100% 55.1591469726%, 0% 55.1591469726%);
            clip-path: polygon(0% 52.7043716219%, 100% 52.7043716219%, 100% 55.1591469726%, 0% 55.1591469726%);
    transform: translate(-2.9480039151%, -0.3326389794%);
  }
  2% {
    -webkit-clip-path: polygon(0% 16.7509901491%, 100% 16.7509901491%, 100% 20.945184986%, 0% 20.945184986%);
            clip-path: polygon(0% 16.7509901491%, 100% 16.7509901491%, 100% 20.945184986%, 0% 20.945184986%);
    transform: translate(-4.3360246429%, -0.3982735303%);
  }
  4% {
    -webkit-clip-path: polygon(0% 44.3694166266%, 100% 44.3694166266%, 100% 49.5036138165%, 0% 49.5036138165%);
            clip-path: polygon(0% 44.3694166266%, 100% 44.3694166266%, 100% 49.5036138165%, 0% 49.5036138165%);
    transform: translate(1.9829837388%, 0.1070397428%);
  }
  6% {
    -webkit-clip-path: polygon(0% 55.8607750199%, 100% 55.8607750199%, 100% 62.0671707792%, 0% 62.0671707792%);
            clip-path: polygon(0% 55.8607750199%, 100% 55.8607750199%, 100% 62.0671707792%, 0% 62.0671707792%);
    transform: translate(1.005603037%, -0.1625336025%);
  }
  8% {
    -webkit-clip-path: polygon(0% 44.908919969%, 100% 44.908919969%, 100% 48.7020795265%, 0% 48.7020795265%);
            clip-path: polygon(0% 44.908919969%, 100% 44.908919969%, 100% 48.7020795265%, 0% 48.7020795265%);
    transform: translate(-5.9043215417%, -0.0246510397%);
  }
  10% {
    -webkit-clip-path: polygon(0% 69.6444220078%, 100% 69.6444220078%, 100% 71.9346435145%, 0% 71.9346435145%);
            clip-path: polygon(0% 69.6444220078%, 100% 69.6444220078%, 100% 71.9346435145%, 0% 71.9346435145%);
    transform: translate(-3.579018324%, -0.2015201829%);
  }
  12% {
    -webkit-clip-path: polygon(0% 68.9984837327%, 100% 68.9984837327%, 100% 72.0815749092%, 0% 72.0815749092%);
            clip-path: polygon(0% 68.9984837327%, 100% 68.9984837327%, 100% 72.0815749092%, 0% 72.0815749092%);
    transform: translate(5.206861826%, 0.4588099855%);
  }
  14% {
    -webkit-clip-path: polygon(0% 85.6789273118%, 100% 85.6789273118%, 100% 94.9659070286%, 0% 94.9659070286%);
            clip-path: polygon(0% 85.6789273118%, 100% 85.6789273118%, 100% 94.9659070286%, 0% 94.9659070286%);
    transform: translate(1.2794218993%, 0.4720689687%);
  }
  16% {
    -webkit-clip-path: polygon(0% 67.8345108726%, 100% 67.8345108726%, 100% 75.2140361729%, 0% 75.2140361729%);
            clip-path: polygon(0% 67.8345108726%, 100% 67.8345108726%, 100% 75.2140361729%, 0% 75.2140361729%);
    transform: translate(-5.969874695%, -0.4570690841%);
  }
  18% {
    -webkit-clip-path: polygon(0% 60.3133160308%, 100% 60.3133160308%, 100% 69.1872104181%, 0% 69.1872104181%);
            clip-path: polygon(0% 60.3133160308%, 100% 60.3133160308%, 100% 69.1872104181%, 0% 69.1872104181%);
    transform: translate(6.9144985292%, -0.222169225%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 32.6389941232%, 100% 32.6389941232%, 100% 34.9475090866%, 0% 34.9475090866%);
            clip-path: polygon(0% 32.6389941232%, 100% 32.6389941232%, 100% 34.9475090866%, 0% 34.9475090866%);
    transform: translate(-1.8540361246%, 0.10980962%);
  }
  2% {
    -webkit-clip-path: polygon(0% 47.6496628289%, 100% 47.6496628289%, 100% 50.720103023%, 0% 50.720103023%);
            clip-path: polygon(0% 47.6496628289%, 100% 47.6496628289%, 100% 50.720103023%, 0% 50.720103023%);
    transform: translate(-6.2025573128%, -0.023658231%);
  }
  4% {
    -webkit-clip-path: polygon(0% 71.8220006919%, 100% 71.8220006919%, 100% 80.9260541804%, 0% 80.9260541804%);
            clip-path: polygon(0% 71.8220006919%, 100% 71.8220006919%, 100% 80.9260541804%, 0% 80.9260541804%);
    transform: translate(-4.308694707%, 0.1567594361%);
  }
  6% {
    -webkit-clip-path: polygon(0% 56.7323383968%, 100% 56.7323383968%, 100% 61.1363549768%, 0% 61.1363549768%);
            clip-path: polygon(0% 56.7323383968%, 100% 56.7323383968%, 100% 61.1363549768%, 0% 61.1363549768%);
    transform: translate(0.3589349106%, -0.3586952978%);
  }
  8% {
    -webkit-clip-path: polygon(0% 42.2721810972%, 100% 42.2721810972%, 100% 49.1027895583%, 0% 49.1027895583%);
            clip-path: polygon(0% 42.2721810972%, 100% 42.2721810972%, 100% 49.1027895583%, 0% 49.1027895583%);
    transform: translate(-5.8901253033%, 0.1448208247%);
  }
  10% {
    -webkit-clip-path: polygon(0% 12.2633884462%, 100% 12.2633884462%, 100% 19.9214522226%, 0% 19.9214522226%);
            clip-path: polygon(0% 12.2633884462%, 100% 12.2633884462%, 100% 19.9214522226%, 0% 19.9214522226%);
    transform: translate(3.7573969633%, 0.4628428179%);
  }
  12% {
    -webkit-clip-path: polygon(0% 53.2335326324%, 100% 53.2335326324%, 100% 59.1819955107%, 0% 59.1819955107%);
            clip-path: polygon(0% 53.2335326324%, 100% 53.2335326324%, 100% 59.1819955107%, 0% 59.1819955107%);
    transform: translate(5.246562726%, 0.3506520423%);
  }
  14% {
    -webkit-clip-path: polygon(0% 17.2723663772%, 100% 17.2723663772%, 100% 23.9820611944%, 0% 23.9820611944%);
            clip-path: polygon(0% 17.2723663772%, 100% 17.2723663772%, 100% 23.9820611944%, 0% 23.9820611944%);
    transform: translate(-1.9079533652%, -0.1510251042%);
  }
  16% {
    -webkit-clip-path: polygon(0% 38.1696939219%, 100% 38.1696939219%, 100% 47.1738034879%, 0% 47.1738034879%);
            clip-path: polygon(0% 38.1696939219%, 100% 38.1696939219%, 100% 47.1738034879%, 0% 47.1738034879%);
    transform: translate(1.4866887999%, -0.0611703376%);
  }
  18% {
    -webkit-clip-path: polygon(0% 49.1078183694%, 100% 49.1078183694%, 100% 54.1447881292%, 0% 54.1447881292%);
            clip-path: polygon(0% 49.1078183694%, 100% 49.1078183694%, 100% 54.1447881292%, 0% 54.1447881292%);
    transform: translate(2.6460882662%, -0.3636186149%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-1.3360227892%, -0.4731910574%);
  }
  2% {
    transform: translate(-0.2771962828%, 0.362579072%);
  }
  4% {
    transform: translate(0.6380653871%, -0.1950950352%);
  }
  6% {
    transform: translate(-0.8104902898%, 0.2799858775%);
  }
  8% {
    transform: translate(0.98012648%, -0.2316130113%);
  }
  10% {
    transform: translate(0.2777816873%, -0.221871904%);
  }
  12% {
    transform: translate(0.3049160344%, -0.4515143815%);
  }
  14% {
    transform: translate(0.8402477096%, -0.2113452031%);
  }
  16% {
    transform: translate(0.0970480332%, -0.1078418886%);
  }
  18% {
    transform: translate(-1.2286477926%, -0.1395435289%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.7292352265%, -0.4623154628%);
  }
  2% {
    transform: translate(-1.5399163859%, 0.1051101155%);
  }
  4% {
    transform: translate(0.8168951046%, 0.4180956807%);
  }
  6% {
    transform: translate(-0.1464890654%, 0.3666404785%);
  }
  8% {
    transform: translate(-1.9014855976%, 0.1576464715%);
  }
  10% {
    transform: translate(-0.1596766192%, -0.3627406365%);
  }
  12% {
    transform: translate(0.76523776%, -0.1824275541%);
  }
  14% {
    transform: translate(1.2137151586%, 0.4675045513%);
  }
  16% {
    transform: translate(-0.210348471%, 0.1286560473%);
  }
  18% {
    transform: translate(-0.1748921151%, -0.0879579359%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-0.1218814091%, 0.1870444068%);
  }
  2% {
    transform: translate(-1.2776017302%, -0.3934457774%);
  }
  4% {
    transform: translate(1.2786921946%, 0.1222092313%);
  }
  6% {
    transform: translate(1.925715308%, 0.1834510316%);
  }
  8% {
    transform: translate(0.8320226091%, -0.3971525423%);
  }
  10% {
    transform: translate(1.7997195055%, 0.2130833119%);
  }
  12% {
    transform: translate(-0.2976888841%, 0.1480681298%);
  }
  14% {
    transform: translate(-0.446830432%, 0.4580321553%);
  }
  16% {
    transform: translate(-0.7463561183%, 0.4355439292%);
  }
  18% {
    transform: translate(-1.8294187976%, -0.1404954523%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}/*# sourceMappingURL=glitch.css.map */