body {
  margin: 0;
}

.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 31.7569489107%, 100% 31.7569489107%, 100% 41.0882517545%, 0% 41.0882517545%);
            clip-path: polygon(0% 31.7569489107%, 100% 31.7569489107%, 100% 41.0882517545%, 0% 41.0882517545%);
    transform: translate(-6.3360697315%, -0.2053277804%);
  }
  2% {
    -webkit-clip-path: polygon(0% 58.2794661348%, 100% 58.2794661348%, 100% 60.955940919%, 0% 60.955940919%);
            clip-path: polygon(0% 58.2794661348%, 100% 58.2794661348%, 100% 60.955940919%, 0% 60.955940919%);
    transform: translate(-1.1973840688%, 0.4711502473%);
  }
  4% {
    -webkit-clip-path: polygon(0% 14.9206539246%, 100% 14.9206539246%, 100% 16.1985016306%, 0% 16.1985016306%);
            clip-path: polygon(0% 14.9206539246%, 100% 14.9206539246%, 100% 16.1985016306%, 0% 16.1985016306%);
    transform: translate(3.4330341479%, 0.0229134806%);
  }
  6% {
    -webkit-clip-path: polygon(0% 17.4698017014%, 100% 17.4698017014%, 100% 20.8215871497%, 0% 20.8215871497%);
            clip-path: polygon(0% 17.4698017014%, 100% 17.4698017014%, 100% 20.8215871497%, 0% 20.8215871497%);
    transform: translate(3.653939792%, -0.3025377048%);
  }
  8% {
    -webkit-clip-path: polygon(0% 78.0954051653%, 100% 78.0954051653%, 100% 84.8082253103%, 0% 84.8082253103%);
            clip-path: polygon(0% 78.0954051653%, 100% 78.0954051653%, 100% 84.8082253103%, 0% 84.8082253103%);
    transform: translate(7.0666361846%, 0.1461965991%);
  }
  10% {
    -webkit-clip-path: polygon(0% 32.0001167582%, 100% 32.0001167582%, 100% 37.1889885981%, 0% 37.1889885981%);
            clip-path: polygon(0% 32.0001167582%, 100% 32.0001167582%, 100% 37.1889885981%, 0% 37.1889885981%);
    transform: translate(4.8012025427%, -0.1462282085%);
  }
  12% {
    -webkit-clip-path: polygon(0% 22.1222340228%, 100% 22.1222340228%, 100% 28.5435020019%, 0% 28.5435020019%);
            clip-path: polygon(0% 22.1222340228%, 100% 22.1222340228%, 100% 28.5435020019%, 0% 28.5435020019%);
    transform: translate(5.1167744773%, 0.109180905%);
  }
  14% {
    -webkit-clip-path: polygon(0% 88.1797101767%, 100% 88.1797101767%, 100% 93.9101547446%, 0% 93.9101547446%);
            clip-path: polygon(0% 88.1797101767%, 100% 88.1797101767%, 100% 93.9101547446%, 0% 93.9101547446%);
    transform: translate(6.4102298826%, -0.2332415412%);
  }
  16% {
    -webkit-clip-path: polygon(0% 50.6017954223%, 100% 50.6017954223%, 100% 56.2513965013%, 0% 56.2513965013%);
            clip-path: polygon(0% 50.6017954223%, 100% 50.6017954223%, 100% 56.2513965013%, 0% 56.2513965013%);
    transform: translate(3.6521619689%, -0.098389465%);
  }
  18% {
    -webkit-clip-path: polygon(0% 32.3124596551%, 100% 32.3124596551%, 100% 42.0618219998%, 0% 42.0618219998%);
            clip-path: polygon(0% 32.3124596551%, 100% 32.3124596551%, 100% 42.0618219998%, 0% 42.0618219998%);
    transform: translate(2.7300434753%, 0.2312273869%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 52.1173150358%, 100% 52.1173150358%, 100% 55.9543125815%, 0% 55.9543125815%);
            clip-path: polygon(0% 52.1173150358%, 100% 52.1173150358%, 100% 55.9543125815%, 0% 55.9543125815%);
    transform: translate(3.345742114%, 0.2980665162%);
  }
  2% {
    -webkit-clip-path: polygon(0% 66.4970981144%, 100% 66.4970981144%, 100% 68.2923220246%, 0% 68.2923220246%);
            clip-path: polygon(0% 66.4970981144%, 100% 66.4970981144%, 100% 68.2923220246%, 0% 68.2923220246%);
    transform: translate(-2.0649414859%, 0.1513179461%);
  }
  4% {
    -webkit-clip-path: polygon(0% 14.2366591932%, 100% 14.2366591932%, 100% 18.6543523833%, 0% 18.6543523833%);
            clip-path: polygon(0% 14.2366591932%, 100% 14.2366591932%, 100% 18.6543523833%, 0% 18.6543523833%);
    transform: translate(6.2976354178%, -0.2764478043%);
  }
  6% {
    -webkit-clip-path: polygon(0% 52.6552743196%, 100% 52.6552743196%, 100% 62.430404711%, 0% 62.430404711%);
            clip-path: polygon(0% 52.6552743196%, 100% 52.6552743196%, 100% 62.430404711%, 0% 62.430404711%);
    transform: translate(-3.4406296858%, -0.1213994243%);
  }
  8% {
    -webkit-clip-path: polygon(0% 61.5425941336%, 100% 61.5425941336%, 100% 66.66513837%, 0% 66.66513837%);
            clip-path: polygon(0% 61.5425941336%, 100% 61.5425941336%, 100% 66.66513837%, 0% 66.66513837%);
    transform: translate(-6.1794456882%, -0.4301362664%);
  }
  10% {
    -webkit-clip-path: polygon(0% 46.9305310759%, 100% 46.9305310759%, 100% 55.1682246405%, 0% 55.1682246405%);
            clip-path: polygon(0% 46.9305310759%, 100% 46.9305310759%, 100% 55.1682246405%, 0% 55.1682246405%);
    transform: translate(-5.8134681406%, -0.0800748446%);
  }
  12% {
    -webkit-clip-path: polygon(0% 30.6328130575%, 100% 30.6328130575%, 100% 34.7574475051%, 0% 34.7574475051%);
            clip-path: polygon(0% 30.6328130575%, 100% 30.6328130575%, 100% 34.7574475051%, 0% 34.7574475051%);
    transform: translate(5.0518910817%, -0.4498743392%);
  }
  14% {
    -webkit-clip-path: polygon(0% 80.575149072%, 100% 80.575149072%, 100% 89.7151932256%, 0% 89.7151932256%);
            clip-path: polygon(0% 80.575149072%, 100% 80.575149072%, 100% 89.7151932256%, 0% 89.7151932256%);
    transform: translate(3.4769033574%, 0.1741002783%);
  }
  16% {
    -webkit-clip-path: polygon(0% 64.783948358%, 100% 64.783948358%, 100% 74.5905878374%, 0% 74.5905878374%);
            clip-path: polygon(0% 64.783948358%, 100% 64.783948358%, 100% 74.5905878374%, 0% 74.5905878374%);
    transform: translate(-5.8393522763%, 0.1351594983%);
  }
  18% {
    -webkit-clip-path: polygon(0% 16.5040041823%, 100% 16.5040041823%, 100% 17.7774495395%, 0% 17.7774495395%);
            clip-path: polygon(0% 16.5040041823%, 100% 16.5040041823%, 100% 17.7774495395%, 0% 17.7774495395%);
    transform: translate(5.7426394436%, -0.0710062152%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-1.6369222213%, -0.4907068635%);
  }
  2% {
    transform: translate(1.4906734419%, -0.2282706981%);
  }
  4% {
    transform: translate(0.0221863307%, 0.0758344343%);
  }
  6% {
    transform: translate(-0.5262135038%, -0.4971753594%);
  }
  8% {
    transform: translate(-0.1325697128%, -0.1367282664%);
  }
  10% {
    transform: translate(-0.4804247427%, 0.1781365351%);
  }
  12% {
    transform: translate(1.1734981681%, -0.458050439%);
  }
  14% {
    transform: translate(1.584606716%, -0.0640966295%);
  }
  16% {
    transform: translate(1.124609137%, -0.4264624441%);
  }
  18% {
    transform: translate(-1.485083122%, -0.2615997721%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(1.2275836929%, -0.3042864716%);
  }
  2% {
    transform: translate(1.7497711544%, 0.2352494457%);
  }
  4% {
    transform: translate(0.1842884273%, -0.269994968%);
  }
  6% {
    transform: translate(1.1110813435%, -0.2164745678%);
  }
  8% {
    transform: translate(-0.2530813808%, -0.2119579991%);
  }
  10% {
    transform: translate(-1.6710437769%, 0.2722647903%);
  }
  12% {
    transform: translate(0.0498282082%, 0.2446584665%);
  }
  14% {
    transform: translate(-0.729371822%, 0.0090188299%);
  }
  16% {
    transform: translate(1.8716164321%, -0.359030924%);
  }
  18% {
    transform: translate(0.4408418236%, -0.1066918538%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-1.9885881774%, 0.4572854384%);
  }
  2% {
    transform: translate(-1.4617543968%, 0.1041454439%);
  }
  4% {
    transform: translate(0.1982969151%, 0.4425353885%);
  }
  6% {
    transform: translate(-0.422473384%, 0.4330354311%);
  }
  8% {
    transform: translate(-0.2234225355%, -0.4585903185%);
  }
  10% {
    transform: translate(-0.928795696%, -0.3027964251%);
  }
  12% {
    transform: translate(0.3360323374%, 0.0056454123%);
  }
  14% {
    transform: translate(-0.4306047251%, -0.4551059089%);
  }
  16% {
    transform: translate(0.143406343%, -0.2654700585%);
  }
  18% {
    transform: translate(1.4532038721%, -0.2151785298%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}/*# sourceMappingURL=glitch.css.map */