#container{
    height: 500vh;
}

.background {
    background-image: url(concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 63%;
    position:relative;
    width: 100vw;
    height: 145vh;
    background-position: center;
    clip-path: inset(0 0 33vh 10%);
    top:-80px;
    left:-15%;
    opacity: 0.9;
}

.new-bg {
    background-image: url(building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 102%;
    width: 99%;
    height: 100%;
}

.new-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(270deg,rgba(255,255,255,0) 40%, #222 90%);
    position: absolute;
}

.new-bg2 {
    background-image: url(night.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 203%;
    width: 99%;
    height: 105%;
}

.container2 {
    position:absolute;
    top:101vh;
    left:5%;
}

.img-size-boss {
    width: 23%;
    position:relative;
    top:0px;
}

.img-size-Warden {
    width: 15%;
    position:relative;
    top:0px;
}

.img-mob-position {
    position:relative;
    top:-10px;
}

.container3 {
    position:absolute;
    top:202vh;
    left:5%;
}

.set-img {
    text-align: center;
}

.new-bg3 {
    background-image: url(mod.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 309%;
    width: 99%;
    height: 105%;
}

.new-bg3::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(270deg,rgba(255,255,255,0) 40%, #222 90%);
    position: absolute;
}

.container4 {
    position:absolute;
    top:308vh;
    left:3%;
}