#container{
    height: 303vh;
}

.background {
    background-image: url(concept.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    width: 100vw;
    height: 99vh;
    background-position: center;
    clip-path: inset(0 0 0 10%);
    top:0px;
    left:-10%;
    opacity: 0.9;
}

.container2 {
    position:absolute;
    top:101vh;
    left:5%;
}

.container3 {
    position: absolute;
    top:202vh;
    right:-15%;
    width:50%;
}

.new-bg {
    background-image: url(splatoon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 103%;
    width: 99%;
    height: 100%;
}

.new-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(270deg,rgba(255,255,255,0) 40%, #222 90%);
    position: absolute;
}

.new-bg2 {
    background-image: url(splatoon3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 204%;
    width: 99%;
    height: 100%;
}

.new-bg2::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90deg,rgba(255,255,255,0) 40%, #222 90%);
    position: absolute;
}

#last_container {
    position: absolute;
    top: 300vh;
    left: 85%;
    height: 5vh;
    display: flex;
  }