#container{
    height: 400vh;
}

.background {
    position:relative;
    width: 100vw;
    height: 99vh;
    background-position: center;
    clip-path: inset(0 0 0 10%);
    top:-16px;
    left:-10%;
    opacity: 0.9;
}

.background#b1 {
    background-image: url(concept.jpg);
}
/*.background#b2{
    background-image: url(concept.jpg);
}

.frame {
    display: block;
    height:100vh;
    width:100%;
    position: absolute;
}*/