#allpage {
    overflow: hidden;
}

.dotgothic16-regular {
    width: 100%;
}

#container{
    height: 500vh;
}

.background {
    background-image: url(background/concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 63%;
    position:relative;
    width: 100vw;
    height: 145vh;
    background-position: center;
    clip-path: inset(0 0 33vh 10%);
    top:-80px;
    left:-15%;
    opacity: 0.9;
}

.new-bg {
    background-image: url(background/character.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 102%;
    width: 99%;
    height: 100%;
}

.new-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    /*background: linear-gradient(270deg,rgba(255,255,255,0) 40%, #222 90%);*/
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}

.new-bg2 {
    background-image: url(background/battle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 203%;
    width: 99%;
    height: 105%;
}


.new-bg2::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    /*background: linear-gradient(270deg,rgba(255,255,255,0) 40%, #222 90%);*/
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.container2 {
    position:absolute;
    top:101vh;
    left:5%;
    width:  90%;
    height: 100vh;
    overflow: hidden;
}


.double-h1 {
    text-shadow: 5px 5px 5px rgb(50,50,90);
}


.img-size-boss {
    width: 23%;
    position:relative;
    top:0px;
}

.img-size-Warden {
    width: 15%;
    position:relative;
    top:0px;
}

.img-mob-position {
    position:relative;
    top:-10px;
}

.container3 {
    position:absolute;
    top:202vh;
    left:5%;
    width: 90%;
    height: 100vh;

    overflow: hidden;
}

.set-img {
    text-align: center;
}

.new-bg3 {
    background-image: url(background/illustration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 309%;
    width: 99%;
    height: 105%;
}



.new-bg3::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg,rgba(255,255,255,0) 40%, rgba(0,0,0) 90%);
    position: absolute;
}

.container4 {
    position:absolute;
    top:308vh;
    margin:0;
	box-sizing: border-box;
    margin:0px;
    padding:0px;
    width: 95%;
    overflow: hidden;
}

.container2 .photo-container {
    width: 100vmin;
    height: 100vmin;
    position: absolute;
    
    overflow: hidden;
}

.container3 .photo-container {
    width: 200vmin;
    height: 100vmin;
    position: absolute;
}

.photo-container .photos {
    position: absolute;
    /*transition: 1s all;*/
    /*border-radius: 5%;*/
    box-shadow: 10px 5px 5px rgba(0,0,0,0.65);
}

.pins {
    position: absolute;
}

.pc1 .photos {
    transform-origin: center top 0;
    box-shadow: 10px 5px 5px rgba(50,50,90,0.65);
}


@keyframes kawaii-anime1 {
    0% {
        transform: rotate(-10deg);
    }
    34% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);

    }
    59% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes kawaii-anime2 {
    0% {
        transform: rotate(-7deg);
    }
    34% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(0deg);

    }
    79% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-7deg);
    }
}

@keyframes kawaii-anime3 {
    0% {
        transform: rotate(-3deg);
    }
    34% {
        transform: rotate(-3deg);
    }
    40% {
        transform: rotate(2deg);

    }
    79% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes kawaii-anime4 {
    0% {
        transform: rotate(5deg);
    }
    34% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(0deg);

    }
    59% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.photos.p1 {
    height: 30vmin;
    right: 10%;
    top: 15%;
    transform: rotate(15deg);
    /*border: groove 10px rgb(250,220,220);*/
	animation: kawaii-anime1 3.6s ease-in-out infinite;
}

.photos.p2 {
    height: 30vmin;
    /*border: outset 10px rgb(0,0,50);*/
    left: 0%;
    top: 30%;
    transform: rotate(5deg);
	animation: kawaii-anime2 3.6s ease-in-out infinite;
}
.photos.p3 {
    height: 30vmin;
    right: 50%;
    top: 1%;
    transform: rotate(-4deg);
    /*border: inset 10px rgb(0,0,0);*/
	animation: kawaii-anime3 3.6s ease-in-out infinite;
}

.photos.p4 {
    height: 40vmin;
    right: 40%;
    top: 40%;
    transform: rotate(-7deg);
    
    /*border: groove 10px rgb(230,220,250);*/
	animation: kawaii-anime4 3.6s ease-in-out infinite;
}

.photos.pb1 {
    height: 30vmin;
    right: 55%/*calc(10%/2+50%)*/;
    top: 15%;
    transform: rotate(15deg);
    /*border: groove 10px rgb(250,220,220);*/
}

.photos.pb2 {
    height: 25vmin;
    /*border: outset 10px rgb(0,0,50);*/
    right: 50%/*calc(-0%/2+50%)*/;
    top: 40%;
    transform: rotate(5deg);
}
.photos.pb3 {
    height: 30vmin;
    right: 25%/*calc(-50%/2+50%)*/;
    top: 1%;
    transform: rotate(-4deg);
    /*border: inset 10px rgb(0,0,0);*/
}

.photos.pb4 {
    height: 35vmin;
    right: 70%/*calc(40%/2+50%)*/;
    top: 50%;
    transform: rotate(-7deg);
    
    /*border: groove 10px rgb(230,220,250);*/

}
#bottom-logo {
    top: 50%;
    left: 50%;
    object-position: 50% 50%;
    object-fit: contain;
    width: 100%;
    height: 50vh;
}


#switch_h1 {
    color: rgb(255,190,0);
    /*position:absolute;
    left: 45%;*/
    width: 100%;
    text-align: center;
}

/*
.photos::after {
    content: url('pin.png');
    width: 4em;
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 2;
    background: #fff
}*/
